.vertical-drawing-group {}

.vertical-drawing {
  position: fixed;
  bottom: 0;
  width: 50%;
  height: vw(900);
  background: red;
  z-index: 80;
  transition-duration: $animation-duration;
}

.pos-left {
  left: vw(40);
  right: unset;
  transition-duration: $animation-duration;
}

.pos-right {
  left: unset;
  right: vw(40);
  transition-duration: $animation-duration;
}