.vertical-drawing-group {
}

.vertical-drawing {
  position: fixed;
  bottom: 0;
  width: 50%;
  height: vw(900);
  background: red;
  z-index: 80;
  // transition-duration: $animation-duration;
}

.pos-left {
  left: -100vw;
}

.pos-right {
  left: 100vw;
}
